.point {
  font-size: 24pt;
}

body {
  background-color: gray;
}

h1 {
  color: navy;
  margin-left: 40px;
  background-color: #ff1100;
}

.main_image{
border: solid;
border: 2px dotted;
border: outset #f33;
width:230px;
}

.main_image2{
border: solid;
border: 2px dotted;
border: outset #f33;
padding:2px;
width:230px;
}